<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>hi</string>
		<string>it</string>
		<string>ja</string>
		<string>pt-BR</string>
		<string>zh-Hans</string>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Speak with Kokoro</string>
			</dict>
			<key>NSMessage</key>
			<string>speakWithKokoro</string>
			<key>NSPortName</key>
			<string>KokoroTTS</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSRTFPboardType</string>
				<string>NSStringPboardType</string>
				<string>public.utf8-plain-text</string>
				<string>net.daringfireball.markdown</string>
			</array>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>P</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
